.App {
  text-align: center;
}

.ChatList {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ChatList .list-container {
  display: flex;
  flex-direction: column;
}

.ChatList button {
  width: max-content;
}

.ChatTile {
  margin: 10px 15px;
}

.ChatView {
  height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ChatView header {
  padding: 1em;
}

.ChatView header button {
  margin: 0 auto 0 0.3em;
}

.ChatView .message {
  margin: 10px;
  background-color: rgba(254, 227, 227, 0.866);
  padding: .4em .5em;
  border-radius: 1.8em;
  max-width: 50vw;
  word-break: break-all;
}

.ChatView .message.outgoing {
  margin-left: auto;
}

.message-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.InputArea {
  padding: 1em;
}

.message {
  width: max-content;
}